{
  "presets": [
    [
      "@babel/env",
      {
        "bugfixes": true,
        "corejs": {
          "proposals": true,
          "version": 3
        },
        "targets": {
          "browsers": "last 2 versions and >= 5% and not IE >= 0"
        },
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/react",
      {
        "runtime": "automatic",
        "useBuiltIns": true
      }
    ],
    [
      "@babel/typescript",
      {
        "allowDeclareFields": true
      }
    ]
  ],
  "plugins": [
    "macros"
  ]
}
